body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(223, 223, 223);
}

h1 {
  color: #dfdfdf;
  text-align: center;
  margin: 2rem;
}


#playlist {
  background-color: #343a40;
  color: #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.progress-bar {
  animation: progress-animation 2s linear forwards;
  background: linear-gradient(to right, red, yellow, green);
  border-radius: 10px;
  height: 2rem;
  margin-bottom: 1rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  background-color: #343a40;
  color: #dfdfdf;
}

#cerrar-sesion{
  text-decoration: none;
  color: #dfdfdf;
  font-size: 18px;
  border: 1px solid #343a40;
  padding: 8px 16px;
  border: #dfdfdf solid 1px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

#cerrar-sesion:hover {
  background-color: #1DB954;
  color: #dfdfdf;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  } to { opacity:1;
      transform: scale(1);
    }
}

h1,p, #playlist {
  animation-name: fade-in; 
  animation-duration:1.3s; 
  animation-fill-mode:both; 
}

li {
  animation-delay:.5s; 
  list-style-type: none;
  font-size: 24px;
  padding: 2% 0% 2% 0%;
  border-bottom: #dfdfdf 2px dashed;
}
ul {
 animation-delay:.7s; 
 padding: 0;
}

.progress-bar p {
   position:relative; 
   font-size:2rem; 
   text-align:start; 
   color:#343a40; 
   top:-20%;
}