<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
  <link rel="stylesheet" href="../static/css/app.css">
  <title>Document</title>
  <style>
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        background-color: #343a40;
        color: #dfdfdf;
      }

      #cerrar-sesion{
        text-decoration: none;
        color: #dfdfdf;
        font-size: 16px;
        border: 1px solid #343a40;
        padding: 6px 12px;
        border: #dfdfdf solid 1px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-right: 1rem;
      }

      #cerrar-sesion:hover {
        background-color: #dfdfdf;
        color: #343a40;
      }
      
  </style>
</head>
<body>
  <div id="header">
    <h1>Spotify Playlist Analyzer</h1>
    <a href="{{ url_for('controllers.logout') }}" id="cerrar-sesion">Cerrar sesión</a>
  </div>
  
  <div id="playlist">
  <!-- <script src="../static/js/index.js"></script> -->
  <script>
    var json_str = '{{ avg_per_playlist | tojson }}';
    var data = JSON.parse(json_str);
    var recetlyPllayed = document.getElementById("playlist");
    var list = document.createElement("ul");

  

    for (var i = 0; i < data.length; i++) {
      var playlist_name = data[i].playlist_name;
      var playlist_url = data[i].playlist_url;
      var average_popularity = data[i].avg_popularity;

      if (average_popularity > 70){
        var Comentario = document.createTextNode('Esta playlist es increíble. ¡Tienes muy buen gusto musical! Cada canción es una joya.')
        var color = "#00FF00";
      } else if (average_popularity > 55){
        var Comentario = document.createTextNode('Esta playlist es muy buena. Tiene una variedad de estilos y ritmos que te hacen disfrutar de la música.')
        var color = "#C9FF00"
      } else if (average_popularity > 45){
        var Comentario = document.createTextNode('Esta playlist es decente. Tiene un equilibrio entre canciones populares y otras más desconocidas.')
        var color = "#FFD700"
      } else if (average_popularity > 20){
        var Comentario = document.createTextNode('Esta playlist no es muy atractiva. Tiene algunas canciones buenas, pero otras que no pegan nada.')
        var color = "#FF8C00"
      } else {
        var Comentario = document.createTextNode('Esta playlist necesita una renovación urgente. Tal vez deberías explorar otros géneros musicales.')
        var color = "#FF0000"
      }

      var pTextNode = document.createElement("p");
      var textNode = document.createTextNode("El puntaje de tu playlist '" + playlist_name + "' es de: " + average_popularity);
      var listItem = document.createElement("li");
      var divProgressBar = document.createElement("div");
      divProgressBar.setAttribute("class", "progress-bar");
      divProgressBar.setAttribute("data-progress", "100%");
      var pProgressBar = document.createElement("p");
      var pComentario = document.createElement("a");
      pComentario.appendChild(Comentario);
      pComentario.setAttribute("class", "comentario");
      pComentario.setAttribute("href", playlist_url);
      pComentario.style.color = color;
      pComentario.style.fontSize = "18px";
      pTextNode.style.fontSize = "26px";
      pProgressBar.setAttribute("class", "progress");
      pProgressBar.setAttribute("data-progress", average_popularity);
      pProgressBar.innerHTML = "|";

      pTextNode.appendChild(textNode);
      listItem.appendChild(pTextNode);
      listItem.appendChild(divProgressBar); 
      listItem.appendChild(pComentario);
      list.appendChild(listItem);
      divProgressBar.appendChild(pProgressBar);
    }

    recetlyPllayed.appendChild(list);
    const progressNumber = document.querySelectorAll('.progress');

    for (var i = 0; i < progressNumber.length; i++) {
      var progressNum = progressNumber[i].getAttribute('data-progress');
      progressNum = parseFloat(progressNum);
      progressNumber[i].style.left = progressNum + "%";
      var progressWidth = (100 - progressNum) + "%";
      console.log(progressWidth)
      progressNumber[i].style.width = progressWidth;
    }
    
  </script>
  <p style="color: #5E6366;">* Los puntajes se calculan con base al puntaje que Spotify le asigna a cada una de las canciones teniendo en cuenta la cantidad de oyentes que estas tienen</p>
</div>
</body> 
</html>